/* GENERAL SETTİNGS */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}
body {
    background: white;
    color: #3f3f3f;
    font: 90% / 158% arial;
    font-family: 'Raleway';
}
@media screen and (min-width:366px) {
    
h1 {
    font-size: 352%;
    letter-spacing: 4%;
    margin-bottom: 2%;
}

.sectionHeader {
    background: #50422f;
    border-bottom:  6px solid rgb(54, 19, 2);
    height: 60px;
    color: #ffffff;
    display: inline-block;
    line-height: 60px;
    font-size: 24px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.sectionHeader1{
    background: #523b1baf;
    background: url("image/read.jpg") no-repeat  ;
    height: 60px;
    color: #ffffff;
    display:inline-block;
    line-height: 60px;
    font-size: 20px;
    margin-left: 325px;
    padding: 30px 0px 10% 60%;
    letter-spacing: 2px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.sectionHeader1 h2{
    margin-left: -570px;
    margin-top: 45px;
  
}
.sectionHeader1 p{
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
    
}

h3 {
    font-size: 16px;
    color: rgb(92, 60, 45);
    transition: all .5s ease;
}
.sectionArea {
    padding: 80px 0;    
}
.sectionArea1 {
    padding: 20px 0; 
    right: 20px;   
}

/* GRID SETTİNGS */
.container
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    

}

.featuresBody .container  {
    justify-content: space-between;
}

.featuresBody .col3 {
    flex-grow: 1;
    width: 33.33%;
}

.engineBody .container {
    justify-content: space-between;
    
    
}
.engine .container {
    justify-content: space-between;
    
}
.engine1 .container1 {
    justify-content: space-between;
    width: 15%;
    
}
.engine2 .container2 {
    justify-content: space-between;
    width: 15%;
    margin-left: 35%;
    margin-top: -23.5%;
    
    
}
.engine3 .container3 {
    justify-content: space-between;
    width: 36%;
    margin-left: 38%;
    margin-top: -23.5%;
}
.engine4 .container4 {
    justify-content: space-between;
    width: 36%;
    margin-left: 60%;
    margin-top: -24%;
}
.container1 .imageOver1{
    width: 95%;
    right: 0%;
    margin-left: 60%;
    margin-top: 25%;
   
    height: 310px;
}
.container2 .imageOver2{
    width: 135%;
    right: 0%;
    margin-top: 25%;
}
.container3 .imageOver3{
    width: 50%;
    right: 0%;
    margin-top: 40px;
    
}
.container4 .imageOver4{
    width: 50%;
    right: 0%;
    margin-top: 45px;
    
}
.col2 {
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}


/* HOME SETTİNGS */

header .logo {
    margin-right: auto;
}

header .logo img {
    display: block;
    height: 90px;
}

.menu li {
    float: left;
}
.menu li a {
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333;
    transition: all.5s ease;
    -webkit-transition: all.5s ease;
    -moz-transition: all.5s ease;
    -ms-transition: all.5s ease;
    -o-transition: all.5s ease;
}

.menu li:hover a {
    background: rgba(158, 102, 57, 0.7);
    color: #ffffff;
}

#mainSlider
{
    height: 500px;
    background: url('../image/mainhome.jpg') center center no-repeat;
    background-size: cover;
    }

 .slider {
     width: 100%;
 }   
 #mainCaption {
     height: 500px;
     background: rgba(163, 140, 140, 0.3);
     
 }

 .caption {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     color: #ffffff;
 }

 .featuresTop {
     text-align: center;
 }
 .featuresTop p{
     text-align: center;
 }
 .item {
     padding: 10px 20px;
 }
 .zoom {
     position: relative;
     overflow: hidden; /* zoom yaptığımızda resimler taşmasın diye */
     display: inline-block; 
     width: 100%;
     vertical-align: top;

 }
 .zoom img{
     display: block;
     width: 100%;
     height: auto;
     transition: all .5s ease;
     -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
     -ms-transition: all .5s ease;
     -o-transition: all .5s ease;
}

 .item .itemText
 {
     text-align: center;
     padding: 5px;
     border: 1px solid #77503a;
 }
 p {
     text-align: justify;
 }

 .item:hover .zoom img 
 {
     transform: scale(1.25);/* dönüştürme efekti için */
}
.item:hover h3 {
    color: #ffffff;
}
.item:hover .itemText {
    background: #8f724b;
    color: #ffffff;
    transition: all .5s ease;
}

.btnDetails {
    color: #8e5004;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #bfbf69; 
    transition: all .5s ease;/* geçiş için */
    
 
    
}
.item:hover .btnDetails:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.itemText p {
    margin: 20px 0;
}

#parallax {
    background: linear-gradient(rgba(117, 113, 113, 0.258),rgba(102, 100, 100, 0.296)), url('../image/ktph.jpg');
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                text-align: center;
                
}
#parallax p {
    text-align: center;
    color: black;
}

.parallaxTop {
    text-align: center;
}
.parallaxTop p {
    text-align: center;
}

.engineTop{
    text-align: center;
}
.engineTop p{
    text-align: center;
}
.engineContainer {
    position: relative;
    width: 100%;
}
.engineContainer1 {
    position:relative;
    width: 100%;
    left: 19%;
    
    
}
.engineContainer2 {
    position:relative;
    width: 75%;
    right: 50%;
    
    
}

.engineContainer3 {
    position:relative;
    width: 90%;
    left: 12%;
    
}
.engineContainer4 {
    position:relative;
    width: 90%;
    left: 10%;
    
}

.imageOver {
    display:block;
    width: 100%;
    height: auto;

}
.imageOver1 {
    display: inline-block;
    width: 25%;

}
.imageOver2 {
    display: inline-block;
    width: 25%;

}
.imageOver3 {
    display: inline-block;
    width: 25%;
    height: 313px;

}
.imageOver4 {
    display: inline-block;
    width: 25%;
    height: 313px;

}

.engineOverlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(117, 98, 82, 0.7) ;
    overflow: hidden;
    width: 0px;
    height: 100%;
    transition: .5s ease;
}
.engineOverlay1 {
    position:absolute;
    bottom: 0;
    left: 60%;
    right: 50%;
    margin-right: 50px;
    background-color: rgba(117, 98, 82, 0.7);
    overflow:hidden;
    width: 0;
    height: 85%;
    transition: .5s ease-out ;
    -webkit-transition: .5s ease-out  ;
    -moz-transition: .5s ease-out  ;
    -ms-transition: .5s ease-out  ;
    -o-transition: .5s ease-out  ;
}
.engineOverlay2 {
    position:absolute;
    bottom: 0;
    left: 0%;
    right: 0%;
    margin-right: 0px;
    background-color: rgba(52, 36, 23, 0.811) ;
    overflow:hidden;
    width: 0;
    height: 90%;
    transition: .5s ease-out ;
    -webkit-transition: .5s ease-out  ;
    -moz-transition: .5s ease-out  ;
    -ms-transition: .5s ease-out  ;
    -o-transition: .5s ease-out  ;
}
.engineContainer3:hover .engineOverlay2 {
    position:absolute;
    width: 50%;
    height: 90%;
    
    
}
.engineContainer4:hover .engineOverlay4 {
    position:absolute;
    width: 50%;
    height: 88%;
    
    
}
.engineContainer:hover .engineOverlay {
  width: 100%;
}
.engineContainer1:hover .engineOverlay1  {
    
    position:absolute;
    width: 95%;
    height: 85%;
   
    
}
.engineContainer2:hover .engineOverlay3 {
    position:absolute;
    width: 100%;
    height: 0;
    padding: 0 0 0 0;
    
}

  
  .engineOverlay3{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(117, 98, 82, 0.7) ;
    overflow:hidden;
    width: 0;
    height: 88%;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    
}
.engineOverlay4{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(117, 98, 82, 0.7) ;
    overflow:hidden;
    width: 0;
    height: 88%;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    
}
.engineContainer2:hover .engineOverlay3 {
    width: 135%;
    height: 88%;
    
  }
.enginetext {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate;
}
.enginetext1 {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate;
}
.enginetext2 {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate;
}
.engineOverlay2{
    position: absolute;
    bottom: 10;
    left: 0;
    right: 0;
    background-color: rgba(117, 98, 82, 0.7) ;
    overflow:hidden;
    width: 0;
    height: 88%;
    transition: .5s ease;
}


  footer {
      background:rgba(117, 98, 82, 0.7);
      text-align: center;
  }
  .footerItem {
      padding:  20px;
      margin-left: 50px;
      margin-top: -50px;
    
  }

  .footerItem img {
    height: 50px;
    opacity:.5;
    
  }

  footer h3 {
      color: #fff;
      text-align: center;
      font-size:  18px;
      letter-spacing: 2px;
      margin-bottom: 10px;

  }
  footer .fa {
    font-size: 30px;
    color: rgb(85, 59, 3);
    line-height: 50px;
    transition: .3s ease;
}
 footer .fa:hover{
     color: #fff;
     
  }

footer p {
    color: rgb(85, 59, 3);
    line-height: 20px;
}
.footerLinks a {
    text-decoration: none;
    color: rgb(85, 59, 3);
    letter-spacing: 2px;
    transition: .3s ease;
    text-align: left;
}
.footerLinks a:hover{
    color: #fff;
    text-decoration: underline;
    text-align: left;
}
.socialLinks li{
    display: inline-block;
    width: 50px;
    height: 50px;
}

#kitapSlider
{
    height: 250px;
    background: url('../image/syff2.jpg') center center no-repeat;
    background-size: cover;
    }
  
 #kitapCaption {
     height: 250px;
     background: rgba(0,0,0, .5);
     
 }
 .ktpTop {
    text-align: center;
}
.ktpTop p{
    text-align: center;
}
#ktp {
    background: #f5f5f5 ;
}
.ktpTop {
    text-align: center;
}
.ktpBody .col2 {
    display: flex;
}
.ktpImg {
    width: 40%;
}
.ktpImg img {
    width: 200px;
    height: 150px;
}
.ktpText {
    width: 50%;
    padding-left: 10px;
}
.k1{
    margin-left: 20px;
    width: 220%;
}
.Date {
    color: #333;
    font-size: 12 px;
    font-style: italic;
}
h4 {
    color: #805c2d;
    font-size:  15px;
    font-weight: bold;
}
.ktpText a{
    float: right;
    text-decoration: none;
    color:#8f724b;
}
.ktpText a:hover {
    text-decoration: underline;
}
.bizimXTop {
    text-align: center;
}

#bizimX .containerFluid {
    height: 500px;
    background: url('../image/kk10.jpg') center center no-repeat;
    background-size: cover;
}
.captionPX {
    display: flex;
    background-color: rgba(0,0,0, .3);
    width: 100%;
    height: 500px;
}
.bizimXInfo {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: 5%;
    padding-right: 5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.bizimXTitle {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.bizimXBTN {
    background-color: #8f724b;
    cursor: pointer;
    color: #fff;
    padding: 20px 40px;
    border: none;
    margin-top: 20px;
    transition: all .5s ease;
    
}
.bizimXBTN:hover {
    background-color: rgb(255, 255, 255);
    color: #8f724b;
}
.bizimXText {
    color: #fff;
}
.bizimXHighlight {
    display: inline-block;
    background-color: #7a6447;
    padding: 30px;

}
.containerFluid .col2 {
    padding: 0;
}
.bizimXDetail li a {
 color: #fff;
 text-decoration: none;
}
.bizimXDetail li a:hover {
    color: rgb(33, 28, 28);
  
   }
/* ABOUT SETTİNGS */

 #aboutCaption {    
     height: 250px;
     background: rgba(0,0,0, .5);
     
 }
 #OurHistory {
     background-color: #f5f5f5;
 }
 .OurHistoryTop  {
     text-align: center;
 }
 .OurHistoryBody .containerFluid {
    text-align: center;
 }
 .OurHistoryText p {
   text-align:justify;
   margin: 25px;
   margin-left: 40px;
   margin-right: 40px;
 }
 .teamTop {
     text-align: center;
 }
.teamBody .containerFluid {
    display: flex;
    width: 100%;
    

}
.teamMember {
        position: relative;
        width: 100%;
       
}
.teamMemberImg {
    display:block;
    width: 100%;
    height: 100%;
    
}
.teamMemberOverlay {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 1;
   background-color: #8f724bd1;
   transition: .5s ease;
    
}
.teamMember:hover .teamMemberOverlay {
    opacity: 0;
}
.teamMember:hover .teamMemberInfo, .teamTitle{
    color: white;
    font-size: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}
.teamMemberInfo {
    color: white;
    background-color: rgba(172, 118, 48, 0.396);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease;
    padding: 20px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    
}

.memberSocialLinks{
    text-align: center;
}
.memberSocialLinks li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.memberSocialLinks .fa{
    color: white;
    display: inline-block;
    
}


/* CONTACT */
#contactCaption{
    height: 250px;
    background: rgba(0,0,0, .5);

}
#contactSlider{
    height: 250px;
    background: url('image/about1.jpg') center center no-repeat;
    background-size: cover;
}
.contactHeader{
    background: #785b31c9;
    border-bottom:  6px solid rgb(54, 19, 2);
    height: 50px;
    color: #ffffff;
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 40%;
}
.contactForm{
    margin: auto;
    width: 60%;
}
.formItem{
    margin-top: 15px;
    width: 100%;
    border-radius:50px;
    
    
        

}
.formShape{
    float: left;
    padding: 8px;
    width: 8%;
    text-align: center;
    margin-left: 10%;
}
.formField{
    padding: 16px;
    width: 60%;
    display: block;
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}
.formBtn{
    border: none;
    display: block;
    background: #785b31c9;
    padding: 12px 25px;
    margin-top: 3px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 45%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.formBtn:hover{
    color: white;
}

.k1text p{
    
    color: white;
    font-size: 11px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    top: 30%;
    left: 2%;
    right: 5px;
    word-wrap: break-word;
    
}
.k2text p{
    color: white;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    left: 2%;
    right: 5px;
    word-wrap: break-word;
    
}
.k3text p{
    color: white;
    font-size: 10px;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    left: 2%;
    right: 5px;
    word-wrap: break-word;
    
}
.k4text p{
    color: white;
    font-size: 10px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    left: 2%;
    right: 5px;
    word-wrap: break-word;
    
}
}

/*MEDİA */
@media screen and (max-width:960px){
    .caption h1{
        color: red;
        font-size: 32px;

    }
    .enginetext{
        left: 40%;
    }
    .enginetext2{
        left: 50%;
    }
    .ktpText{
        width: 50%;
        font-size: 10px;
        margin-left: 60px;
        margin-top: -11px;
    }
    
    
}
.button1{
    padding: 20px 240px;
    width: 10%;
    font-family: 'Times New Roman', Times, serif;
    
    
}
.button2{
    padding: 0px 550px;
    margin-top: -43px;
    width: 10%;
    font-family: 'Times New Roman', Times, serif;
    
    
}
.button3{
    padding: 0px 56%;
    margin-top: -20px;
    width: 10%;
    
    font-family: 'Times New Roman', Times, serif;
}
.button4{
    padding: 0px 78%;
    margin-top: -22px;
    width: 10%;
    font-family: 'Times New Roman', Times, serif;
}
.bg{
    background-color: #605b3c3b;
 
}
  .romancol1{
    width: 310px;
    height: 300px;
    border: 2px solid gray;
    background-color: #c9a675b6;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 140px;
    float: left;
    margin-top: 50px;
    overflow: scroll;
    overflow-x: hidden;
    
    
}
.romancol1::-webkit-scrollbar{
    background: transparent;
    width: 6px;
    height: 5px;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
}
.romancol1:hover::-webkit-scrollbar{
    background: transparent;
}
.romancol1::-webkit-scrollbar-corner{
    background: transparent;
}   
.romancol1::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.romancol1:hover::-webkit-scrollbar-thumb{
    background: black;
}
.alintimg{
    width: 320px;
    height: 310px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
    
}
.alinti{
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 3px;
    line-height: 20px;
    color: rgb(12, 11, 11);
    border: 2px solid #a1917a;
    background: #baa990;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: -10px;
}
.alintilar{
    background: linear-gradient(rgba(77, 54, 3, 0.547),rgba(102, 100, 100, 0.296)),url(image/alinti1.jpg) no-repeat;
    background-size: 190%;
    background-color: #8e500476;
}
.alintibaslik{
    text-align: center;
    color: rgb(3, 3, 3);
    font-style:normal;
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 23px;
}
